name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/westpoint
            
            # Git-Rechte fixen
            git config --global --add safe.directory /var/www/westpoint
            git pull origin main
            
            # PHP & Composer
            composer install --no-interaction --prefer-dist --optimize-autoloader
            php artisan migrate --force
            
            # Frontend Assets (NPM)
            npm install
            npm run build
            
            # Laravel Cache & Permissions
            php artisan optimize
            chown -R www-data:www-data storage bootstrap/cache
            chmod -R 775 storage bootstrap/cache